.page{
  height: 100vh;
}
.body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  height: 100vh;
  width: 100%;
  padding: 40px 0px;
  margin:0;
}

.container{
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 100vh;
}

.filmInfo{
  display: flex;  
  flex-direction: row;
  padding: 15px 15px;
  gap:10px
}

.filmInfo img{
  height: fit-content;
  width: 140px;
}
  
.infos{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.infos label{
  cursor: pointer;
  border: 2px solid #ed8620; 
  font-size: 13px;
  line-height: 15px;
  width:fit-content;
  border-radius: 40px;
  background:#ed8620;
  color: #fff;
  text-align: center;    
  padding: 5px;
}

.div1{
  width: 55%;    
  height: fit-content;  
  background-color: #3f4152;  
  color: #fff;
  padding: 20px;
  padding-bottom: 20px;
}

.div2{
  display: flex;
  flex-direction: column;
  width:35%;
  height: fit-content;  
  background-color: #3f4152;  
  color: #fff;
}

.sala{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 30px;
  padding: 30px 10px;
}

.sala span{
  background-color: aqua;
  align-items: center;
  padding: 10px 200px;
  color: black;
}
.containerAssentos {
  display: flex;  
  background-color: #ed8620;
}

.assentos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-count: 2;  
  gap: 5px;
  padding: 30px 10px;
}
.row{
  display: flex;
}

.ladoA, .ladoB{
  display: grid;
  grid-template-columns:repeat(7, 1fr);
  gap: 5px;
}

.button {
  border: 2px solid black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: green;
  color:white;
}

.button-alternate {
  border: 2px solid black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: red;
  color: white;
}

