.body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin:0;
}

.container{
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 100vh;
}

.div1{
  width: 55%;  
  background-color: #3f4152;  
  color: #fff;
  padding: 20px;
}
.options{
  display: flex;
  flex-direction: column;
  background-color: #29343e;
  border-radius: 10px;
  width: 600px;  
  border: 2px solid white;
}

.options label{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.options table{
  align-items: center;  
}

.options tr{
  color: #fff;
  padding: 10px;
  text-align: center;
}

.confirmar{

  cursor: pointer;
  border: 2px solid #ed8620;
  padding: 14px;
  line-height: 15px;
  margin: 5px;
  width: 240px;
  border-radius: 40px;
  background:#ed8620;
  color: #fff;
  text-align: center;
  width: auto;
  padding-left: 26px;
  padding-right: 26px;
  
}
.div2{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:35%;
  height: 70vh;  
  background-color: #3f4152;  
  color: #fff;
}

.filmInfo{
  display: flex;  
  flex-direction: row;
  padding: 15px 15px;
  gap:10px
}

.filmInfo img{
  height: fit-content;
  width: 140px;
}


