.cinema{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cinema img{
  height: 120px;
  width: 140px
}

.cinemaButton{
  cursor: pointer;
  border: 2px solid #ed8620;
  padding: 14px;
  color: #ed8620;
  background: transparent;
  line-height: 15px;
  margin: 5px;
  width: 240px;
  border-radius: 40px;
  background:#ed8620;
  color: #fff;
  text-align: center;
  width: auto;
  padding-left: 26px;
  padding-right: 26px;
}

.days{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 20px;
}

.filme{
  display:flex;
  background-color: #efefef;
  width: 500px;
  height: 200px;
  padding: 15px;
  border-radius: 5px;
  gap: 10px;
}

.filme img{
  width: 253px;
  height: 216px;
}

.filmeInfo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}

.filmeInfo2{
  display: flex;
  gap: 15px;
}