.cinema{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.cinema img{
  height: 120px;
  width: 140px;
}

.cinemaButton{
  cursor: pointer;
  border: 2px solid #ed8620;
  padding: 14px;
  color: #ed8620;
  background: transparent;
  line-height: 15px;
  margin: 5px;
  width: 240px;
  border-radius: 40px;
  background:#ed8620;
  color: #fff;
  text-align: center;
  width: auto;
  padding-left: 26px;
  padding-right: 26px;
}

.days{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 20px;
}

.filmeContainer{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;

  width: 1200px;
}

.filme{
  display:flex;
  justify-content: flex-start;
  background-color: #efefef;
  width: 500px;
  min-height: 200px;
  padding: 15px;
  border-radius: 5px;
  gap: 10px;
}

.filme img{
  width: 200px;
  height: 316px;
}

.filmeInfo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
}

.filmeInfo2{
  display: flex;
  gap: 15px;
}

